@import "../../../../partials/themeController"

#contact
  padding: 20px 5vw 10px 5vw
  background: $lightColor
  color: $darkerColor
  display: flex
  flex-direction: column

  h3
    margin-bottom: 10px

  h5
    @extend h3
    color: $mediumColor

.contact
  margin-bottom: 10px

.social-media
  display: flex
  justify-content: center

  p
    font-size: 12px

.facebook
  color: $darkColor

  a
    display: flex
    flex-direction: column

.facebook-icon
  $percent: .10
  width: 1000px * $percent
  height: 1000px * $percent
  align-self: center
