@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
#about {
  padding: 20px 5vw 10px 5vw;
  background: #545E75;
  color: white;
  display: flex;
  flex-direction: column; }

.about {
  margin-bottom: 10px;
  text-align: center; }
