@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
#product-inquiry {
  display: flex;
  flex-direction: column;
  padding: 0 5vw 10px 5vw; }

.inquiry-item-display {
  padding: 0 10vw 0 10vw; }

.disabled {
  display: none; }

.item-header {
  padding: 16px; }
