@import "../../../partials/themeController"

#product-inquiry
  display: flex
  flex-direction: column
  padding: 0 5vw 10px 5vw

.inquiry-item-display
  padding: 0 10vw 0 10vw

.disabled
  display: none

.item-header
  padding: 16px
  color: $mediumColor

.card-info
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 50px 50px 50px
  grid-auto-rows: 1fr
  margin-bottom: 40px

  span
    font-size: 14px
    font-weight: bold

.double-column
  grid-column: 1/3
