@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
#home {
  display: flex;
  flex-direction: column;
  padding: 0 5vw 10px 5vw; }

.temp {
  margin-bottom: 10px; }

.home-title, .home-subtitle {
  margin-bottom: 10px;
  text-align: center; }

.home-subtitle {
  color: #931621; }

hr {
  width: 90vw; }

.logo-box {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center; }

.max-air-technology-logo {
  margin-bottom: 10px;
  width: 246.785px;
  height: 116.27px; }

.sesto-valves-logo {
  width: 237.84px;
  height: 46.56px;
  margin-bottom: 10px; }

.delta-t-products-logo {
  width: 297.3px;
  height: 58.2px;
  margin-bottom: 10px; }

.winters-container {
  margin-bottom: 10px; }

.jarecki-valves-logo {
  margin-bottom: 10px; }

.show-case {
  align-self: center;
  width: 489.6px;
  height: 367.2px;
  border-radius: 5px;
  margin-bottom: 10px; }

.logo-placeholder {
  font-size: 80px;
  font-weight: bolder;
  align-self: center; }
