#home
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  p
    margin-bottom: 10px
    line-height: 150%

.temp
  margin-bottom: 10px

.home-title
  margin-bottom: 10px

.home-subtitle
  @extend .home-title

hr
  width: 90vw

.logo-box
  margin: 20px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  justify-items: center

.max-air-technology-logo
  $percent: .35
  width: 641px * $percent
  height: 302px * $percent

.show-case
  $percent: .15
  align-self: center
  width: 3264px * $percent
  height: 2448px * $percent

.logo-placeholder
  font-size: 80px
  font-weight: bolder

//
  *{
    Opacity: 1
    background: gray
  }
