@import "../../../../partials/themeController"

#home
  display: flex
  flex-direction: column
  padding: 0 5vw 10px 5vw

.temp
  margin-bottom: 10px

.home-title
  margin-bottom: 10px
  text-align: center

.home-subtitle
  @extend .home-title
  color: $rubyRed

hr
  width: 90vw

.logo-box
  margin: 20px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  justify-items: center

.max-air-technology-logo
  $percent: .385
  margin-bottom: 10px
  width: 641px * $percent
  height: 302px * $percent

.sesto-valves-logo
  $percent: .08
  width: 2973px * $percent
  height: 582px * $percent
  margin-bottom: 10px

.delta-t-products-logo
  $percent: .10
  width: 2973px * $percent
  height: 582px * $percent
  margin-bottom: 10px

.winters-container
  margin-bottom: 10px

.jarecki-valves-logo
  margin-bottom: 10px

.show-case
  $percent: .15
  align-self: center
  width: 3264px * $percent
  height: 2448px * $percent
  border-radius: 5px
  margin-bottom: 10px

.logo-placeholder
  font-size: 80px
  font-weight: bolder
  align-self: center

//
  *{
    Opacity: 1
    background: gray
  }
