@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
.inquiry-wizard {
  padding: 10px;
  z-index: 10;
  position: fixed;
  top: 10vh;
  right: 10vw;
  bottom: 10vh;
  left: 10vw;
  background: white; }

.wizard-grid {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(5, 30px); }

.wizard-cancel {
  display: grid;
  padding: 0;
  justify-self: end;
  grid-column: 10; }

.root-title {
  text-align: center;
  grid-column: 3/9;
  grid-row: 1;
  align-self: start;
  padding: 0; }

.previous-next {
  display: flex;
  grid-row: 8;
  grid-column: 5/7;
  justify-content: center; }

.next-button, .previous-button {
  margin: 5px; }
