@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
.inquiry-wizard {
  padding: 10px;
  z-index: 2;
  position: fixed;
  top: 10vh;
  right: 10vw;
  bottom: 10vh;
  left: 10vw;
  background: white; }

.wizard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.wizard-cancel {
  padding: 0;
  grid-column: 3/4;
  justify-self: end; }
